@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.container {
  width: 100%;
}

body {
  background: #76b852;
  background-image: url(./imagens/fundo-login.jpg);
  font-family: "Roboto", sans-serif;
  background-repeat: round;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}


.login-page {
  position: relative;
  width: 380px;
  height: auto;
  padding: 8% 0 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px
 }

.form {
  border-radius: 10px;
  background: #FFFFFF;
  width: 380px;
  height: 440px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 10px 0 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  position: relative;
  float: left;
  width: 120px;
  height: 40px;
  background: #4CAF50;
  margin: 2%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}

.button-ok {
  width: 270px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;

}
.form button:hover,.form button:active,.form button:focus {
  background: lightgrey;
}

.radice_logo {
  width: 100px;
  height: 100px;
}
